@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');


/* home css */
.butter{
  font-family: "Butterfly Kids", cursive;
  font-weight: 400;
}

.logo{
  width: 13rem;
  filter: grayscale(100%);
}

.logo:hover{
  filter: none;
}

.tengah{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dash{
  border-radius: 100px;
  height: 500px;
  width: 300px;
  object-fit: fill;
}
.cardText{
    top: 80%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: transparent;
}

.cardText:hover{
  padding: 20px;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background: rgb(27, 27, 27, 0.5);
  color: white;
}

.search-navbar{
  padding: 10px 30px;
  background-color: #f0f0f0;
  border-radius: 20px;
  width: 700px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* home css*/
  
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
